.content-box {
  margin-bottom: 24px;
}

.content-box__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box__caption {
  max-width: 490px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 0 16px;
}

.content-box__button {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 5px;
  transition: all 0.2s;
  &:hover {
    color: rgba(0, 0, 0, 0.564);
  }
  &:hover &-image {
    filter: brightness(1.1);
  }
  &-image {
    width: 12px;
    height: 12px;
    transition: all 0.2s;
  }
}

.content-box__image {
  max-width: 530px;
  max-height: 300px;
}
