.brand-title {
  display: flex;
  align-items: center;
  border-top: solid 0.0625rem #d9fff5;
  background-color: rgb(243, 243, 243);
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  padding: 16px;
  height: 80px;

  .brand-title__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
  }
}
