.service-price {
  padding: 16px;

  .service-price__slider-container {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 24px;
  }

  .service-price__content {
    background-color: white;
    border-radius: 6px;
    padding: 16px;
    display: grid;
    grid-template-areas:
      "title title"
      "block1 none"
      "block2 button";
    row-gap: 16px;
    column-gap: 30px;
  }
}

.service-price__block {
  max-width: 150px;
  min-width: 70px;
  &:nth-child(1) {
    grid-area: title;
  }
  &:nth-child(2) {
    grid-area: block1;
  }
  &:nth-child(3) {
    grid-area: block2;
  }

  .service-price__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7e7e82;
    margin-bottom: 4px;
  }

  .service-price__description,
  .service-price__value {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
}

.service-price__button {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: #ff3e79;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-align: right;
  text-transform: uppercase;
  width: 120px;
  height: 32px;
  justify-content: space-between;
  padding: 3px 10px;
  transition: all 0.2s;
  align-self: center;

  svg {
    fill: white;
    transition: all 0.2s;
  }
}

.service-price__button:hover {
  background-color: white;
  border-color: #ff3e79;
  color: #ff3e79;

  svg {
    fill: #ff3e79;
  }
}

.service-price__pagination {
  --swiper-pagination-bottom: -6px;
  --swiper-pagination-bullet-horizontal-gap: 6px;

  .swiper-pagination-bullet {
    background-color: #989898;
    width: 12px;
    height: 12px;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
}

.service-price__about {
  .service-price__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
  }
  .service-price__link {
    position: relative;
    display: flex;
    width: 190px;
    grid-area: button;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: all 0.2s;

    svg {
      position: absolute;
      left: 110px;
      bottom: -1.8px;
      fill: #ff3e79;
      transition: all 0.2s;
    }
  }
}

.service-price__link:hover {
  color: #505050;

  svg {
    opacity: 0.8;
  }
}
