@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes/TTLakesCompressed-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes/TTLakes-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
